* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1920px;
  max-width: 100%;
  padding: 0 100px;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0;
    margin: 0;
  }
}
.header {
  background-color: #f4f5f7;
}

.header-texts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.header-texts .title-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.header-texts .title-text:before {
  content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 8px 0 0;
  position: relative;
  width: 72px;
  height: 51px;
  background: url("../img/header/title.png");
}
.header-texts .title-text .link-text-first {
  color: #da1818;
}
.header-texts .menu-text {
  display: inline-block;
}
.header-texts .header-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  margin: 0 0 0 60px;
}
.header-texts .header-text:hover {
  border-bottom: 1px solid #da1818;
}
.header-texts .header-text .link-text {
  color: #000000;
}

.header-text-last {
  margin: 0 0 0 60px;
}
.header-text-last p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #da1818;
}

@media screen and (max-width: 1250px) {
  .header-texts .header-text {
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 1160px) {
  .header-texts .header-text {
    margin: 0 0 0 30px;
  }
}
@media screen and (max-width: 1024px) {
  .header-text-last {
    margin: 0 0 0 20px;
  }

  .header-texts .header-text {
    margin: 0 0 0 20px;
  }
}
@media screen and (max-width: 800px) {
  .header-texts .title-text {
    font-size: 9px;
  }
  .header-texts .title-text::before {
    width: 0;
    height: 0;
  }
  .header-texts .header-text {
    font-size: 7px;
  }

  .header-text-last p {
    font-size: 10px;
  }
}
@media screen and (max-width: 670px) {
  .header-text-last {
    margin: 0 0 0 3px;
  }
  .header-text-last p {
    font-size: 10px;
  }

  .header-texts .header-text {
    margin: 0 0 0 3px;
  }
  .header-texts .title-text {
    font-size: 10px;
  }
  .header-texts .header-text {
    font-size: 7px;
  }
}
@media screen and (max-width: 385px) {
  .header-text-last {
    margin: 0 1px 0 3px;
  }
  .header-text-last p {
    font-size: 8px;
    line-height: 15px;
  }

  .header-texts .header-text {
    margin: 0 0 0 3px;
  }
  .header-texts .title-text {
    font-size: 6px;
  }
}
.development .development__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.development__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.development__item .development-title {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 700;
  color: #363636;
}
.development__item .development-title-last {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #363636;
  padding: 20px 0;
}
.development__item .development-text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #000000;
  width: 500px;
  margin: 0 0 49px 0;
}
.development__item .development-link {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.development-link-first {
  background-color: #000000;
  padding: 16px 31px;
  color: #ffffff;
  margin: 0 31px 0 0;
  border: 1px solid #000000;
}

.development-link-last {
  border: 1px solid #000000;
  color: #061e37;
  padding: 16px 24px;
}

.development-image {
  position: relative;
  height: 651px;
  text-align: right;
}

.development-image-first {
  position: relative;
  z-index: 2;
}

.development-image-last {
  z-index: 1;
  position: relative;
  left: 180px;
  bottom: 213px;
  opacity: 0.9;
}

@media screen and (min-width: 1900px) {
  .development__item {
    padding: 0 0 0 200px;
  }

  .development-image {
    text-align: center;
    padding: 0 200px 0 0;
  }

  .container {
    padding: 0 200px;
  }
}
@media screen and (max-width: 1150px) {
  .development .development__body {
    display: block;
  }

  .development__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .development__item .development-text {
    width: auto;
  }

  .development-image {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .development__item .development-title {
    font-size: 45px;
  }
}
@media screen and (max-width: 520px) {
  .development__item .development-title {
    font-size: 40px;
  }
  .development__item .development-title-last {
    font-size: 30px;
  }
}
@media screen and (max-width: 460px) {
  .development__item .development-title {
    font-size: 30px;
  }
  .development__item .development-title-last {
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .development__item .development-title {
    font-size: 25px;
  }
  .development__item .development-link {
    display: block;
    width: 100%;
  }
}
.footer {
  background-color: #000000;
}

.footer-texts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.footer-texts .title-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.footer-texts .title-text:before {
  content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 8px 0 0;
  position: relative;
  width: 72px;
  height: 50px;
  background: url("../img/footer/before.png");
}
.footer-texts .title-text .link-text-first {
  color: #ffffff;
}
.footer-texts .menu-text {
  display: inline-block;
}
.footer-texts .footer-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  margin: 0 0 9px;
}
.footer-texts .footer-text .link-text {
  color: #fff;
}

.line {
  border: 1px solid #323232;
}

.footer-bottom-text {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-bottom-text .footer-bottom-text {
  color: #9f9f9f;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
}
.footer-bottom-text .footer-politic {
  text-decoration: underline;
  color: #9f9f9f;
}

.prozium {
  color: #da1818;
}

@media screen and (max-width: 562px) {
  .footer-texts .title-text:before {
    width: 0;
    height: 0;
  }
  .footer-texts .footer-text {
    margin: 0;
  }

  .footer-bottom-text {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 462px) {
  .footer-texts {
    display: block;
    height: auto;
  }
  .footer-texts .menu-text {
    display: block;
    text-align: center;
  }
  .footer-texts .title-text {
    font-size: 20px;
  }
  .footer-texts .title-text .link-text-first {
    color: red;
  }
}